@import "tailwindcss";

html,
body,
#root {
  @apply bg-amber-50 text-slate-900 box-border;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-teal-900 rounded-xl;
}
.task > ::-webkit-scrollbar-thumb {
  @apply bg-white rounded;
}
